h2, h3 {
  margin-top: 15px;
  text-align: left;
}

h1, p, li {
  text-align: left;
}

.highlight {
  background-color: #FEB900;
  color: black;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 3px 5px;

}

.strong {
  background-color: #FEB900;
  color: black;
  height: fit-content;
  width: fit-content;
  border-radius: 2px;
  padding: 2px 3px;
  margin-right: 3px;
}

.percent {
  display: inline;
  font-size: 30px;
  text-align: left;
}

iframe {
  text-align: center;
}

a {
  display: inline-block;
  text-align: left;
}


