@font-face {
  font-family: 'GongGothicLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: 'GongGothicLight', sans-serif;
  text-align: center;
  height: 100%;
}
.btn-primary:hover {
  background-color: #FEB900;
  color: black;
}

.btn-primary {
  background-color: rgb(35,35,35);
  color: white;
  border: 0;
}

.btn-primary:focus {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
}

.d-flex {
  height: 100%;
}
.complete {
  line-height: 1.5;

}