<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div style='text-align:center; background-color:#FEB900; width: 80%;'>
        <img src="../accounts/images/new_logo_kor.png" style="width: 300px;">
        <hr>
        <div style="text-align:center; width:auto;">
          <h1 style="color:black;">임시 비밀번호 발급 안내</h1>
          <div class="password-notice">
            <p style="color:black;">임시 비밀번호가 <strong style="color:red;">{{temporary_password}}</strong> 로 변경되었습니다.<br>로그인 후 반드시 비밀번호를 변경해주세요.</p>
          </div>
        </div>
        <a type='button' href=".main/templates/main.html">홈페이지 바로가기</a>
      </div>
    </body>
</html>