{% extends 'main/base.html' %}
<head>
  {% load static %}
  {% block extrahead %}
  <link href={% static 'accounts/css/signup.css' %} rel="stylesheet" />
  {% endblock extrahead %}
</head>
<body>
  {% block container %}
  <div class="d-flex align-items-center" style="height:calc(100% - 60px);">
    <div class="container">
      <a name="name"></a>
      <h4>Brute Force 프로그램 신청하기</h4>
      <form method="POST" class="post-form needs-validation" action="{% url 'accounts:signup' %}" id="signup_form" onsubmit="complete()">
        {% csrf_token %}
        {% include "accounts/signup_form_error.html" %}
        <div class="field-container">
          {% for field in form %}
            <div class="field field{{forloop.counter}}">
              
              {% if field.name == 'username' %}
                {{field.label_tag}}
                {{field}}
                <button class="btn btn-outline-secondary" type="button" onclick='checkUsernameAvailability()'>중복확인</button>
                <div class="valid-feedback">
                </div>
                <div class="invalid-feedback">
                  필수 기입란입니다!
                </div>
              {% elif forloop.counter == 5 %} 
                {{field.label_tag}}
                {{field}}
                <span><br>{{field.help_text}}</span>
              {% elif forloop.counter == 8 %}
                <div class="purchase-check">
                  {{field.label_tag}}
                  {{field}}
                  <span><br>{{field.help_text}}</span>
                  <div class="valid-feedback">
                    잘하셨습니다!
                  </div>
                  <div class="invalid-feedback">
                    필수 기입란입니다!
                  </div>
                </div>
                <p class='notice-header'>[아이디 및 비밀번호 설정 유의사항]</p>
                <hr>
                <ul class="notice-list">
                  <li>아이디는 150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</li>
                  <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                  <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                  <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                  <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                </ul>
                <hr>    
              {% elif forloop.counter == 13 %}
                <p class="privacy-policy-header">[개인정보 수집 및 이용 동의]</p>
                <div class='privacy-policy'>{{field.help_text | linebreaksbr}}</div>
                {{field}}
                {{field.label_tag}}
                <div class="valid-feedback">
                  잘하셨습니다!
                </div>
                <div class="invalid-feedback">
                  필수 기입란입니다!
                </div>
              {% elif forloop.counter == 14 %}
                <p class="privacy-policy-header">[개인정보 제3자 제공 동의]</p>
                <div class='privacy-policy'>{{field.help_text | linebreaksbr}}</div>
                {{field}}
                {{field.label_tag}}
                <div class="valid-feedback">
                  <!--잘하셨습니다!-->
                </div>
                <div class="invalid-feedback">
                  필수 기입란입니다!
                </div>
              {% else %}
                {{field.label_tag}}
                {{field}}
                <div class="valid-feedback">
                  잘하셨습니다!
                </div>
                <div class="invalid-feedback">
                  필수 기입란입니다!
                </div>
              {% endif %}
            </div>
          {% endfor %}
          
        </div>
        <button type="submit" class="btn btn-primary">신청 완료하기</button>
      </form>
    </div>
  </div>

  <script src="{% static 'accounts/js/signup.js' %}"></script>
  {% endblock %}
  {% block extrascript %}
    <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              console.log(form.checkValidity())
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    {% if anchor %}
    <script type='text/javascript'>
    $(document).ready(function(){
        window.location = '#{{ anchor }}'
    });
    </script>
    {% endif %}
  {% endblock %}
</body>