.container {
  text-align: center;
}


.table {
  text-align: center;
  margin: 10px auto;
  width: 85%;
}

#page-header {
  text-align: left;
}
.form-control  {
  display: inline-block;
}
input::placeholder {
  font-size: 13px;
}
#header-row {
  margin: auto;
  width: 85%;
  text-align: left;
  padding: 0;
}

#category-dropdown {
  display: inline-block;
}

#search {
  width: 40%;
  float: right;
}
.btn-outline-success {
  display: inline-block;
  width: 30%;
  border-color:black;
  color: black;
}

.btn-outline-success:hover {
  background-color: #FEB900;
  border-color: #FEB900;
}

.btn-primary {
  color: black;
  display: inline-block;
  border: 0;
  background-color: #FEB900;
  padding: 5px 10px;
}

.btn-primary:hover {
  background-color: rgb(35,35,35);
  color: white;
}

.btn-primary:focus {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
}


.page-link {
  color: black;
}

.page-link:focus {
  color: black;
  background-color: rgba(254,185,0,0.3);
}

.page-link:hover {
  background-color: rgba(254,185,0,0.3);
  color: black;
}
.page-item.active .page-link {
  background-color: #FEB900;
  border-color: #FEB900;
  color: black;
}

.title {
  text-decoration: none;
  color: black;
}

.title:hover {
  text-decoration: underline;
}