@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
.container {
  text-align: center;
}

.title_container {
  display: inline-block;
  text-align: center;
  width:80%;
  background-color: white;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 10px;
  vertical-align: center;
  padding: auto;

}

h1 {
  font-family: 'RixYeoljeongdo_Regular', sans-serif;
  font-size: 25px;
  margin-bottom: 0;
  line-height: 40px;
}

h5 {
  margin-bottom: 0;
  line-height: 40px;
}

.d-flex {
  width: 100%;
}

#gradient_background {
  background: linear-gradient( to right, #FEB900, rgb(251, 146, 52) );
  height: 100%;
  border-radius: 20px;
  border: 2px solid rgb(217,118,54);
  text-align: center;
}

.header_img {
  width: 50%;
  display: block;
}

.course {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  width: 405px;
  text-align: center;
}

.ranking_info {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  width: 68%;
  text-align: center;
}


.ranking_info p {
  display: inline-block;
  margin-bottom: 0;
}

.single_row {
  width: 90%;
}
