{% extends 'main/base.html' %}
<head>
  {% load static %}
  {% load activities_filter %}
  {% block extrahead %}
  <link href="{% static 'activities/css/material_list.css' %}" rel="stylesheet" />
  {% endblock extrahead %}
</head>

<body>
  {% block container %}
    <div class="container" style="margin-top:15px;">
      <div class="container" style="width:85%;" id="page-header">
        <h1>학습자료실</h1>
        <p>학습에 필요한 자료들을 다운로드 받아 보세요!</p>
      </div>
      <div class="container" style="width: 85%; padding: 0;">
        <hr>
        <div class="curriculum_header"><h5>코스별 커리큘럼 보기</h5></div>
        <button class="btn btn-primary" type="button" href="#"><img id="course_icon" src="{% static 'activities/images/python_icon.png' %}" width="30px">파이썬</button>
        <button class="btn btn-primary" type="button" href="#"><img id="course_icon" src="{% static 'activities/images/ds_icon.png' %}" width="30px">데이터 사이언스</button>
        <button class="btn btn-primary" type="button" href="#"><img id="course_icon" src="{% static 'activities/images/html_icon.png' %}" width="30px">웹 퍼블리싱</button>
        <hr>
      </div>
      <div class="container" id="header-row">
        <div class="col-2" id="category-dropdown">
          <select class="form-select category">
            <option value="all" {% if category == 'all' %}selected{% endif %}>전체</option>
            <option value="common" {% if category == 'common' %}selected{% endif %}>공통</option>
            <option value="python" {% if category == 'python' %}selected{% endif %}>파이썬</option>
            <option value="datascience" {% if category == 'datascience' %}selected{% endif %}>데이터 사이언스</option>
            <option value="htmlcss" {% if category == 'htmlcss' %}selected{% endif %}>웹 퍼블리싱</option>
          </select>
        </div>
        <div class="d-flex" id="search">
          <input class="form-control me-2 kw" type="search" placeholder="검색어를 입력하세요." aria-label="Search" id="search-input">
          <button class="btn btn-outline-success" type="submit" id="btn_search">찾기</button>
        </div>
      </div>
      
        <table class="table table-condensed table-stripped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width: 7%;"></th>
              <th scope="col" style="width: 7%;">#</th>
              <th scope="col" style="width: 15%;">코스</th>
              <th scope="col">자료유형</th>
              <th scope="col">제목</th>
              <th scope="col">첨부파일</th>
              <th scope="col" style="width: 12%;">작성일</th>
            </tr>
          </thead>
          <tbody>
            {% for material in material_list %}
              <tr class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#demo{{forloop.counter}}">
              <!--fontawesome 아이콘으로 바꾸기-->
                <td><img src="{% static 'activities/images/view_icon.png' %}" height="25px"></td>
                <td>{{material_list.paginator.count|sub:material_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td>{{material.get_category_display}}</td>
                <td>{{material.file_type}}</td>
                <td>{{material.title}}</td>
                <!--fontawesome 아이콘으로 바꾸기-->
                <td><a href="{% if material.file %}{{material.file.url}}{% else %}#{% endif %}"><img src="{% static 'activities/images/download_icon.png' %}" height="25px"></a></td>
                <td>{{material.upload_date|date:"Y년 M d일"}}</td>
              </tr>
              <tr class="hiddenRow accordion-body collapse" id="demo{{forloop.counter}}"> 
                <td colspan="7">{{material.content}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if material_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ 1 }}" href="#"> << </a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ material_list.previous_page_number }}" href="#"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"> << </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in material_list.paginator.page_range %}
            {% if page_number >= material_list.number|add:-5 and page_number <= material_list.number|add:5 %}
            {% if page_number == material_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}"href="#" >{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if material_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ material_list.next_page_number }}" href="#"> > </a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ material_list.paginator.count }}" href="#" > >> </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link"> >> </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <form id="searchForm" method="get" action="{% url 'activities:material-list' %}">
      <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
      <input type="hidden" id="page" name="page" value="{{ page }}">
      <input type="hidden" id="category" name="category" value="{{ category }}">
    </form>
  {% endblock %}

  {% block extrascript %}
  <script type='text/javascript'>
  $(document).ready(function(){
      $(".page-link").on('click', function() {
      $("#page").val($(this).data("page"));
      $("#searchForm").submit();
      });
      $("#btn_search").on('click', function() {
          $("#kw").val($(".kw").val());
          $("#page").val(1);
          $("#searchForm").submit();
      });
      $(".category").on('change', function() {
          $("#category").val($(this).val());
          $("#page").val(1);
          $("#searchForm").submit();
      });
    });
  </script>
  <script src="{% static 'activities/js/material_list.js' %}"></script>
  {% endblock%}
  
</body>