{% extends 'main/base.html' %}
<head>
  {% load static %}
  {% load discussions_filter %}
  {% block extrahead %}
  <link href="{% static 'discussions/css/question_list.css' %}" rel="stylesheet" />
  {% endblock extrahead %}
</head>

<body>
  {% block container %}
    <div class="container" style="margin-top:15px;">
      <div class="container" style="width:85%;" id="page-header">
        <h1>학습 토의 게시판</h1>
        <p>소스 코드를 공유하고 수강생들과 토의해보세요!</p>
      </div>
      <div class="container" id="header-row">
        <div class="col-2" id="category-dropdown">
          <select class="form-select category">
            <option value="all" {% if category == 'all' %}selected{% endif %}>전체</option>
            <option value="python" {% if category == 'python' %}selected{% endif %}>파이썬</option>
            <option value="datascience" {% if category == 'datascience' %}selected{% endif %}>데이터 사이언스</option>
            <option value="htmlcss" {% if category == 'htmlcss' %}selected{% endif %}>웹 퍼블리싱</option>
            <option value="common" {% if category == 'etc' %}selected{% endif %}>기타</option>
          </select>
        </div>
        <div class="d-flex" id="search">
          <input class="form-control me-2 kw" type="search" placeholder="검색어를 입력하세요." aria-label="Search" id="search-input">
          <button class="btn btn-outline-success" type="submit" id="btn_search">찾기</button>
        </div>
      </div>
      
        <table class="table table-condensed table-stripped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width: 7%;">#</th>
              <th scope="col" style="width: 15%;">코스</th>
              <th scope="col">제목</th>
              <th scope="col" style='width: 15%;'>글쓴이</th>
              <th scope="col" style="width: 20%;">작성일</th>
            </tr>
          </thead>
          <tbody>
            {% if question_list %}
            {% for question in question_list %}
              <tr>
                <td>{{question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td>{{question.get_category_display}}</td>
                <td>
                  <a class='title' href="{% url 'discussions:detail' question.id %}">{{question.title}}</a>
                  {% if question.answer_set.count > 0 %}
                  <span class="badge bg-secondary mx-2" id='badge_count'>{{ question.answer_set.count }}</span>
                  {% endif %}
                </td>
                <td>{{question.author}}</td>
                <td>{{question.create_date}}</td>
              </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ 1 }}" href="#"> << </a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"> << </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> < </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}"href="#" >{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#"> > </a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.paginator.count }}" href="#" > >> </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> > </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link"> >> </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <div class='container'><div class='container' style="text-align:right; width:85%; padding:0;"><a href="{% url 'discussions:create-question' %}" class="btn btn-primary">질문 등록하기</a></div></div>

    <form id="searchForm" method="get" action="{% url 'discussions:question-list' %}">
      <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
      <input type="hidden" id="page" name="page" value="{{ page }}">
      <input type="hidden" id="category" name="category" value="{{ category }}">
    </form>
  {% endblock %}

  {% block extrascript %}
  <script type='text/javascript'>
  $(document).ready(function(){
      $(".page-link").on('click', function() {
      $("#page").val($(this).data("page"));
      $("#searchForm").submit();
      });
      $("#btn_search").on('click', function() {
          $("#kw").val($(".kw").val());
          $("#page").val(1);
          $("#searchForm").submit();
      });
      $(".category").on('change', function() {
          $("#category").val($(this).val());
          $("#page").val(1);
          $("#searchForm").submit();
      });
    });
  </script>
  <script src="{% static 'discussions/js/question_list.js' %}"></script>
  {% endblock%}
  
</body>