{% extends './base.html' %}
<head>
  {% load static %}
  {% block extrahead %}
  <link href={% static 'main/css/main.css' %} rel="stylesheet" />
  {% endblock extrahead %}
</head>
<body>
  {% block container %}
  <div class="float-register">
    <a href="https://smartstore.naver.com/bruteforceuniv2020/products/5872363153", target="_blank" type="button">지금 바로 신청하기 >>></a>
  </div>

  <div id="main_1" style="width:100%;">
    <img src="{% static 'main/images/main_1.png' %}" style="width: 100%;">
  </div>
  <div id="course-list" style="width:100%">
    <img src="{% static 'main/images/main_2.png' %}" style="width:100%">
    <a href="{% url 'main:python-description' %}" type="button"><img class="course-button python" src="{% static 'main/images/main_2_button.png' %}"></a>
    <a href="{% url 'main:ds-description' %}" type="button"><img class="course-button ds" src="{% static 'main/images/main_2_button.png' %}"></a>
    <a href="{% url 'main:htmlcss-description' %}" type="button"><img class="course-button htmlcss" src="{% static 'main/images/main_2_button.png' %}"></a>
  </div>
  <div id="main_3" style="width:100%;">
    <img src="{% static 'main/images/main_3.png' %}" style="width: 100%;">
  </div>


  {% endblock container %}
</body>