{% extends 'main/base.html' %}
<head>
  {% load static %}
  {% block extrahead %}
  <link href="{% static 'discussions/css/question_form.css' %}" rel="stylesheet" />
  {% endblock extrahead %}
</head>
  {% block container %}
  <div class='d-flex justify-content-center align-items-center'>
    <div class="container">
      <h3 class="my-3 border-bottom">질문 등록하기</h3>
      <form method="post" class="post-form my-3" onsubmit="return validate()" novalidate>
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="title">제목</label>
          <input type="text" class="form-control" name="title" id="title" value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="selectCategory">질문 카테고리</label>
          <select class="form-select" id="selectCategory">
            <option selected disabled>질문의 카테고리를 선택해주세요.</option>
            <option value="python">파이썬</option>
            <option value="ds">데이터 사이언스</option>
            <option value="htmlcss">웹 퍼블리싱</option>
            <option value="etc">기타</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <div class='d-flex justify-content-between' style="height:25px !important;">
            <label for="url">코드 url</label>
            <p class='guide'>코드를 손쉽게 공유하고 싶다면? <a href="https://tagilog.tistory.com/377" target='_blank'>GitHub 사용법 알아보기</a></p>
          </div>
          <input type="url" class="form-control" name="url" id="url" value="{{ form.url.value|default_if_none:'' }}">
        </div>
        <div class="form-group mb-3">
          <label for="content">내용</label>
          <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <a href="{% url 'discussions:question-list' %}" type="button" class="btn btn-primary" style="float:left;">돌아가기</a>
        <button type="submit" class="btn btn-primary" style="float:right;">등록하기</button>
      </form>
    </div>
  </div>
  {% endblock %}
  {% block extrascript %}
    <script src="{% static 'discussions/js/question_form.js' %}"></script>
  {% endblock %}