html, body { 
  height: 100%;
}


#gradient_background {
  background: linear-gradient( to right, #FEB900, rgb(251, 146, 52) );
  height: 100%;
  border-radius: 20px;
  border: 2px solid rgb(217,118,54);
  text-align: center;
}