@font-face {
  font-family: 'GongGothicLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

.container {
  width: 85%;
}

body {
  text-align: center;
  align-items: center;
  font-family: 'GongGothicLight', sans-serif;
  height: 100%;
}

.d-flex {
  height: 100%;
}

#update-password {
    text-align: center;
    margin: 10px;
    margin: auto;
}

#update-password p {
  text-align: left;
}

ul li {
  font-size: 10px;
  text-align: left;
}

.post-form {
  text-align: center;
  margin-top: 20px;
}

.errorlist li {
  color: red;
}

.btn-primary:hover {
  background-color: #FEB900;
  color: black;
}

.btn-primary {
  background-color: rgb(35,35,35);
  color: white;
  border: 0;
}

.btn-primary:focus {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(35 35 35 / 50%);
}
.btn-primary:active {
  background-color: rgb(35,35,35);
  border-color: rgb(35,35,35);
  color: white;
}